# Testing
pytest==7.1.2
pytest-benchmark==3.4.1

tensorboardX==2.5
tensorboard==2.10.1
numpy==1.23.2
pillow==9.2.0

# Linting
black==22.6.0
isort==5.10.1
pyright==1.1.276
ruff==0.0.129

# Building
maturin==0.13.2

# Dev tools
pdbpp==0.10.3

# work around tensorboardX issue
protobuf==3.19.*
